.body
  height: 2000px
  color: $dark-grey
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif
  font-size: 0.8rem
  line-height: 2.2rem
  background: $white
  +dark-transition(background)

@import 'body--dark'