include /components/single-tab/_single-tab.pug

mixin tabs-grid
  .tabs-grid

    +single-tab('/img/Slack-Logo.svg', 'Slack', 'Lorem ipsum dolor sit amet consectetur adipiscing elit')(href='#')

    +single-tab('/img/Google-Drive-Logo.svg', 'Google Drive', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'added')(href='#')

    +single-tab('/img/Google-Search-Logo.svg', 'Google Search', 'Lorem ipsum dolor sit amet consectetur adipiscing elit')(href='#')

    +single-tab('/img/Google-Folder-Logo.svg', 'Google Folder', 'Lorem ipsum dolor sit amet consectetur adipiscing elit', 'added')(href='#')

    +single-tab('/img/Google-News-Logo.svg', 'Google News', 'Lorem ipsum dolor sit amet consectetur adipiscing elit')(href='#')