.sidebar
  position: relative
  grid-area: sidebar
  height: 100%
  width: 81px
  box-sizing: border-box
  padding-top: 20px
  &--border-right
    +border-right
    +dark-transition(border)

@import 'sidebar--dark'