mixin layout-switch
  .layout-switch
    button.layout-switch__button.layout-switch__button--active
      svg.layout-switch__icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16' role="img")
        title Switch layout to grid icon
        path.layout-switch__icon-path(d='M0 0h6v6H0zM10 0h6v6h-6zM0 10h6v6H0zM10 10h6v6h-6z')
    button.layout-switch__button
      svg.layout-switch__icon(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 16 16' role="img")
        title Switch layout to row icon
        path.layout-switch__icon-path(d="M0 0h16v2H0zM0 7h16v2H0zM0 14h16v2H0z")