mixin site-logo
  .site-logo.site-logo--border-right.site-logo--border-bottom
    svg.site-logo__icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 37" role="img" unselectable="on")
      title Dashboard Logo
      path.site-logo__icon-path(d="M14.81 1H11.9a2 2 0 0 0-1.57.76L4.05 9.57l2.73 11.88 3.49 1.67-2.94-12.8z")
      path.site-logo__icon-path(d="M26.1 1h-10l-7.68 9.57.87 3.75L17.56 4h11.93l-1.82-2.24A2 2 0 0 0 26.1 1z")
      path.site-logo__icon-path(d="M36.56 12.83L30.3 5H18l-2.38 3h13.22l7.46 9.3.7-2.77a2 2 0 0 0-.44-1.7z")
      path.site-logo__icon-path(d="M30.08 30.92l2.61-1.25a2 2 0 0 0 1.1-1.37L36 18.59l-7.65-9.54h-3.87l8.26 10.29z")
      path.site-logo__icon-path(d="M29.23 16.58l-2.94 12.8-10.79 5.17 2.63 1.25a2 2 0 0 0 1.74 0l9.05-4.32 2.73-11.89z")
      path.site-logo__icon-path(d="M26 25.06l-11.66 5.58-10.77-5.15.64 2.81a2 2 0 0 0 1.1 1.37l9 4.32 11.07-5.3.87-3.76z")
      path.site-logo__icon-path(d="M5.91 22.14L3.25 10.58l-1.81 2.25a2 2 0 0 0-.39 1.7l2.23 9.71 11.06 5.29 3.49-1.68z")