mixin header-menu
  nav.header-menu
    ul.header-menu__list
      li.header-menu__item
        a.header-menu__link.header-menu__link--active(href="#") Pipelines
      li.header-menu__item
        a.header-menu__link(href="#") Codes
      li.header-menu__item
        a.header-menu__link(href="#") Activity