mixin breadcrumbs
  .breadcrumbs
    nav.breadcrumbs-nav
      ul.breadcrumbs-nav__list
        li.breadcrumbs-nav__item
          a.breadcrumbs-nav__link(href="#") Project
        li.breadcrumbs-nav__item
          a.breadcrumbs-nav__link.breadcrumbs-nav__link--indicator(href="#") Creative agency
        li.breadcrumbs-nav__item
          a.breadcrumbs-nav__link(href="#") Pipelines